<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      Feeds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-grid>
          <ion-row>
            <ion-col size-lg="6" size-md="6" size-xl="4">
              <app-blog-card></app-blog-card>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-xl="4">
              <app-blog-card></app-blog-card>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-xl="4">
              <app-blog-card></app-blog-card>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-xl="4">
              <app-blog-card></app-blog-card>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-xl="4">
              <app-blog-card></app-blog-card>
            </ion-col>
            <ion-col size-lg="6" size-md="6" size-xl="4">
              <app-blog-card></app-blog-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
