ion-content ion-toolbar {
  --background: translucent;
}

.text-tittle {
  text-align: center;
  color: #f23a7b;
  font-weight: 800;
  font-size: 2rem;
}
.text-sub-title {
  text-align: center;
  color: #6b6b6b;
  margin-top: -2rem;
}
