ion-list {
  background-color: transparent;
}
ion-item {
  --background: transparent;
  --color: black;
}
ion-card {
  background: #f5f5f5;
  border-radius: 1rem;
}
ion-input {
  --background: white;
  --padding-start: 1.5rem !important;
  box-shadow: 1px 1px 5px #f23a;
  margin-top: 0.5rem;
  border-radius: 1rem;
}
ion-textarea {
  --background: white;
  --padding-start: 1.5rem !important;
  box-shadow: 1px 1px 5px #f23a;
  border-radius: 1rem;
}
ion-button {
  color: #f23a;
  --border-color: #f23a;
  --background-hover: #f23a;
}

.icon {
  color: #f23a;
}
.reply-item-button {
  margin-bottom: 3rem;
}
.reply-button {
  height: 3rem;
}
.card-header {
  font-weight: 600;
}
.list-thumbnail {
  width: 2.5rem;
  height: 2.5rem;
}
.list-item {
  margin-top: 2rem;
}
.list-label {
  font-weight: 600;
}
.card-instructor {
  margin-top: 2rem;
}
.input-label {
  margin-top: 2rem;
  font-weight: 600;
}
.publish-button {
  font-size: medium;
  margin-top: 1.5rem;
  --background: #f23a;
  color: white;
}
