<ion-list lines="none">
  <ion-item class="reply-item-button">
    <ion-button fill="outline" class="reply-button">
      Back to all questions
    </ion-button>
  </ion-item>

  <!--  card -->
  <ion-card>
    <ion-card-header class="card-header">
      Tips on getting your questions answered faster
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-icon name="arrow-forward-circle"></ion-icon>
            <ion-label class="font-baloo2">
              Search to see if your question has been asked before
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10">
            <ion-icon name="arrow-forward-circle"></ion-icon>
            <ion-label class="font-baloo2">
              Be detailed; provide error messages, code, or other clues whenever
              possible
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="10">
            <ion-icon name="arrow-forward-circle"></ion-icon>
            <ion-label class="font-baloo2">
              Check grammar and spelling
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- instructor details -->
  <ion-card class="card-instructor">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-avatar class="list-thumbnail">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-avatar>
          </ion-col>
          <ion-col size="10" pull-md="1">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-label class="list-label">
                    Teckat Services Private Limited
                  </ion-label>
                </ion-col>

                <ion-col size="12">
                  <ion-label class="font-baloo2"
                    >Given our current workload, we are able to respond within
                    24 hours.
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label class="input-label">
            Question
          </ion-label>
          <ion-input
            placeholder="Why do we use python?"
            class="font-baloo2"
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label class="input-label"> Description </ion-label>
          <ion-textarea
            rows="4"
            placeholder=" Eg. At module 2 topic 3 i didn't understand the logic of for loop"
          ></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="full"
            color="danger"
            size="large"
            shape="round"
            class="publish-button"
            >Publish</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
