<ion-list lines="none">
  <!-- module item 1 -->
  <ion-item class="list-item">
    <ion-grid>
      <!-- Module number and name -->
      <ion-row>
        <ion-col size="12">
          <ion-label
            class="ion-text-wrap color-content label-module font-baloo2"
            >[Module No.] :</ion-label
          >
          <ion-label
            class="list-label-heading ion-text-wrap color-heading font-poppins"
            >Module Name</ion-label
          >
        </ion-col>
      </ion-row>

      <!-- Bookmark content of the above module -->
      <ion-row>
        <ion-col>
          <ion-label
            class="list-label ion-text-wrap color-subtitle font-poppins"
          >
            [Course No.]: Course Name
          </ion-label>

          <!-- bookmark content for the above course -->
          <ion-list lines="inset">
            <!-- item 1-->
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size-xl="1" size="3">
                    <ion-label
                      class="ion-text-wrap font-baloo2 color-content size-content"
                    >
                      time
                    </ion-label>
                  </ion-col>

                  <ion-col size-xl="3" class="hide">
                    <ion-label
                      class="ion-text-wrap font-baloo2 color-content size-content"
                    >
                      A few seconds ago
                    </ion-label>
                  </ion-col>

                  <ion-col size-xl="6" size="6">
                    <ion-label
                      class="ion-text-wrap font-baloo2 color-content size-content"
                    >
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Mollitia, fugit.
                    </ion-label>
                  </ion-col>

                  <ion-col size-xl="2" size="3">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-md="6" size="12">
                          <ion-icon
                            name="play"
                            size="large"
                            color="success"
                          ></ion-icon>
                        </ion-col>
                        <ion-col size-md="6" size="12">
                          <ion-icon
                            name="close-circle"
                            size="large"
                            color="danger"
                          ></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>

            <!-- item 2-->
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col size-xl="1" size="3">
                    <ion-label
                      class="ion-text-wrap font-baloo2 color-content size-content"
                    >
                      time
                    </ion-label>
                  </ion-col>

                  <ion-col size-xl="3" class="hide">
                    <ion-label
                      class="ion-text-wrap font-baloo2 color-content size-content"
                    >
                      A few seconds ago
                    </ion-label>
                  </ion-col>

                  <ion-col size-xl="6" size="6">
                    <ion-label
                      class="ion-text-wrap font-baloo2 color-content size-content"
                    >
                      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                      Mollitia, fugit.
                    </ion-label>
                  </ion-col>

                  <ion-col size-xl="2" size="3">
                    <ion-grid>
                      <ion-row>
                        <ion-col size-md="6" size="12">
                          <ion-icon
                            name="play"
                            size="large"
                            color="success"
                          ></ion-icon>
                        </ion-col>
                        <ion-col size-md="6" size="12">
                          <ion-icon
                            name="close-circle"
                            size="large"
                            color="danger"
                          ></ion-icon>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
