ion-list {
  background-color: transparent;
}
ion-item {
  --background: transparent;
  --color: black;
}
ion-textarea {
  --background: white;
  --padding-start: 1.5rem !important;
  box-shadow: 1px 1px 5px #f23a;
}
ion-button {
  color: #f23a;
  --border-color: #f23a;
  --background-hover: #f23a;
}

.icon-send {
  color: #f23a;
}
.icon-heart {
  color: #f23a;
}
.reply-item-button {
  margin-bottom: 3rem;
}
.reply-button {
  height: 3rem;
}
.list-label {
  font-weight: 600;
}

.list-thumbnail {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 1rem;
}
.list-item {
  padding-bottom: 1rem;
}
.list-label-duration {
  margin-top: -0.5rem;
}
.reply-thumbnail {
  width: 2.5rem;
  height: 2.5rem;
}
.floating-item {
  margin-top: 2rem;
}
.reply-col {
  margin-top: -1rem;
}
.reply-item {
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {
  .hide-xs {
    display: none !important;
  }
}
