<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="color: black;">
    <ion-row>
      <ion-col size-lg="8" size="12">
        <ion-grid>
          <!--  Player row  -->
          <ion-row>
            hello
          </ion-row>

          <!--  course slider row -->
          <ion-row>
            <ion-col size="12">
              <!-- scrollable segment -->
              <ion-segment scrollable value="home">
                <ion-segment-button value="star">
                  <ion-icon name="analytics"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="home">
                  <ion-icon name="bookmarks"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="heart">
                  <ion-icon name="help-circle"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="pin">
                  <ion-icon name="eye"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>

          <!-- course slider content -->
          <ion-row>
            <ion-col size="12" push-md="1">
              <app-course-details></app-course-details>
              <app-bookmark-details></app-bookmark-details>
              <app-question-answer-details></app-question-answer-details>
              <app-reply-question-details></app-reply-question-details>
              <app-ask-question></app-ask-question>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <!-- course content col -->
      <ion-col size-lg="4" size="0">
        <ion-grid>
          <ion-row>
            <ion-col size-lg="12" size-xl="10" size="0" push-xl="2">
              <ion-card class="course-card card">
                <ion-card-header class="course-header">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <div class="c100 p75 small orange">
                          <span>75%</span>
                          <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col size="10">
                        <br />
                        <span class="course-header-title">Lorem, ipsum.</span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size-lg="12" size-xl="10" size="0" push-xl="2">
              <ion-card class="course-card card">
                <ion-card-header class="course-header">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <div class="c100 p75 small orange">
                          <span>75%</span>
                          <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col size="10">
                        <br />
                        <span class="course-header-title">Lorem, ipsum.</span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col size-lg="12" size-xl="10" size="0" push-xl="2">
              <ion-card class="course-card card">
                <ion-card-header class="course-header">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <div class="c100 p75 small orange">
                          <span>75%</span>
                          <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                          </div>
                        </div>
                      </ion-col>
                      <ion-col size="10">
                        <br />
                        <span class="course-header-title">Lorem, ipsum.</span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <ion-checkbox class="course-checkbox"></ion-checkbox>
                      </ion-col>
                      <ion-col size="10">
                        <ion-card-title class="course-title">
                          Lorem, ipsum dolor.
                          <ion-card-subtitle class="course-subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Temporibus, similique!
                          </ion-card-subtitle>
                        </ion-card-title>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
