<ion-header>
  <div class="nav">
    <input type="checkbox" id="nav-check" />
    <div class="nav-header">
      <div class="nav-title">
        Teckat
      </div>
    </div>

    <div class="nav-links">
      <a href="//github.io/jo_geek">Home</a>
      <a href="https://in.linkedin.com/in/jonesvinothjoseph">Courses </a>
      <a href="https://codepen.io/jo_Geek/">Feeds</a>
      <a href="https://jsfiddle.net/user/jo_Geek/">Test</a>
    </div>
  </div>
</ion-header>

<app-menu-bar></app-menu-bar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="8" size="12">
        <ion-grid>
          <!--  Player row  -->
          <ion-row>
            hello
          </ion-row>

          <!--  course slider row -->
          <ion-row>
            <ion-col size="12">
              <!-- scrollable segment -->
              <ion-segment
                scrollable
                value="detail"
                (ionChange)="segmentChanged($event)"
              >
                <ion-segment-button value="progress" class="hide-lg">
                  <ion-icon name="analytics"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="detail">
                  <ion-icon name="medal"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="bookmark">
                  <ion-icon name="bookmarks"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="question">
                  <ion-icon name="help-circle"></ion-icon>
                </ion-segment-button>

                <ion-segment-button value="announcement">
                  <ion-icon name="megaphone"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>

          <!-- course slider content -->
          <ion-row>
            <ion-col size="12" push-md="1">
              <ion-grid>
                <ion-row>
                  <ion-col size-md="10" size="12">
                    <app-course-progress
                      *ngIf="activeTab==='progress'"
                    ></app-course-progress>
                    <app-course-progress
                      *ngIf="activeTab==='progress'"
                    ></app-course-progress>
                    <app-course-progress
                      *ngIf="activeTab==='progress'"
                    ></app-course-progress>
                    <app-course-details
                      *ngIf="activeTab === 'detail'"
                    ></app-course-details>
                    <app-bookmark-details
                      *ngIf="activeTab === 'bookmark'"
                    ></app-bookmark-details>
                    <app-question-answer-details
                      *ngIf="activeTab==='question'"
                    ></app-question-answer-details>
                    <app-reply-question-details
                      *ngIf="activeTab==='question'"
                    ></app-reply-question-details>
                    <app-ask-question
                      *ngIf="activeTab==='question'"
                    ></app-ask-question>
                    <app-announcements
                      *ngIf="activeTab==='announcement'"
                    ></app-announcements>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col size-md="10" size="12" class="ion-no-padding">
                    <app-read-comments
                      *ngIf="activeTab === 'announcement' "
                    ></app-read-comments>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <!-- course content col -->
      <ion-col size-lg="4" size="0">
        <ion-grid>
          <ion-row>
            <ion-col size-lg="12" size-xl="10" size="0" push-xl="1">
              <app-course-progress></app-course-progress>
              <app-course-progress></app-course-progress>
              <app-course-progress></app-course-progress>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
