<ion-header>
  <ion-toolbar class="header">
    <ion-title>course-explorer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Player -->
    <ion-row>
      <ion-col size="12"> </ion-col>
    </ion-row>

    <!-- Body -->
    <ion-row>
      <ion-col size-lg="9" size="12">
        <ion-grid>
          <!-- course highlights -->
          <ion-row>
            <ion-col size-md="10" size="12">
              <ion-card class="highlight-card">
                <ion-grid>
                  <!-- heading -->
                  <ion-row>
                    <ion-col>
                      <ion-label class="color-heading label-highlight-heading">
                        What will you learn</ion-label
                      >
                    </ion-col>
                  </ion-row>

                  <!-- content -->
                  <ion-row>
                    <ion-col size-lg="6" size="12">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10004;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10004;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col size-lg="6" size="12" pull-lg="1">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10004;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10004;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- course report -->
          <ion-row>
            <ion-col size-md="5" size-lg="5" size="12">
              <app-course-progress></app-course-progress>
            </ion-col>

            <ion-col size-md="5" size-lg="5" size="12">
              <app-course-progress></app-course-progress>
            </ion-col>

            <ion-col size-md="5" size-lg="5" size="12">
              <app-course-progress></app-course-progress>
            </ion-col>

            <ion-col size-md="5" size-lg="5" size="12">
              <app-course-progress></app-course-progress>
            </ion-col>
          </ion-row>

          <!-- Requirements -->
          <ion-row>
            <ion-col size-md="10" size="12">
              <ion-card class="highlight-card">
                <ion-grid>
                  <!-- heading -->
                  <ion-row>
                    <ion-col>
                      <ion-label
                        class="color-content size-heading label-requirement-heading"
                      >
                        Requirements</ion-label
                      >
                    </ion-col>
                  </ion-row>

                  <!-- content -->
                  <ion-row>
                    <ion-col size-lg="6" size="12">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10687;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10687;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                    <ion-col size-lg="6" size="12" pull-lg="1">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10687;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-label
                              class="color-heading size-subtitle label-highlight-content"
                            >
                              &#10687;
                            </ion-label>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label class="color-content size-subtitle">
                              Lorem ipsum dolor sit amet.</ion-label
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>

          <!-- student reviews -->
          <ion-row>
            <ion-col size-md="10" size="12">
              <ion-grid>
                <!-- header feedback -->
                <ion-row>
                  <ion-col>
                    <ion-label class="color-content label-feedback">
                      Student Feedback
                    </ion-label>
                  </ion-col>
                </ion-row>

                <!-- Feedback rating -->
                <ion-row class="rating-row">
                  <!-- 1st col -->
                  <ion-col size-md="3" size="12" class="align-vertical">
                    <ion-grid>
                      <ion-row class="align-vertical">
                        <ion-col size="12">
                          <div class="align-center">
                            <ion-label class="color-heading label-star-number"
                              >4.3</ion-label
                            >
                          </div>
                        </ion-col>

                        <!-- star rating -->
                        <ion-col size="12">
                          <div class="align-center">
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>

                  <!-- 2nd col -->
                  <ion-col size-md="9" size="12">
                    <ion-grid>
                      <!-- bar and star pair -->
                      <ion-row>
                        <ion-col size="7">
                          <div class="bar-container">
                            <div class="bar-5"></div>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="align-center">
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span
                              class="star-number color-subtitle size-content"
                            >
                              47%</span
                            >
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- bar and star pair -->
                      <ion-row>
                        <ion-col size="7">
                          <div class="bar-container">
                            <div class="bar-4"></div>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="align-center">
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size">★</span>
                            <span
                              class="star-number color-subtitle size-content"
                            >
                              40%</span
                            >
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- bar and star pair -->
                      <ion-row>
                        <ion-col size="7">
                          <div class="bar-container">
                            <div class="bar-3"></div>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="align-center">
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size">★</span>
                            <span class="star-size">★</span>
                            <span
                              class="star-number color-subtitle size-content"
                            >
                              10%</span
                            >
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- bar and star pair -->
                      <ion-row>
                        <ion-col size="7">
                          <div class="bar-container">
                            <div class="bar-2"></div>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="align-center">
                            <span class="star-size checked">★</span>
                            <span class="star-size checked">★</span>
                            <span class="star-size">★</span>
                            <span class="star-size">★</span>
                            <span class="star-size">★</span>
                            <span
                              class="star-number color-subtitle size-content"
                            >
                              2%</span
                            >
                          </div>
                        </ion-col>
                      </ion-row>
                      <!-- bar and star pair -->
                      <ion-row>
                        <ion-col size="7">
                          <div class="bar-container">
                            <div class="bar-1"></div>
                          </div>
                        </ion-col>
                        <ion-col size="5">
                          <div class="align-center">
                            <span class="star-size checked">★</span>
                            <span class="star-size">★</span>
                            <span class="star-size">★</span>
                            <span class="star-size">★</span>
                            <span class="star-size">★</span>
                            <span
                              class="star-number color-subtitle size-content"
                            >
                              1%</span
                            >
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>

                <!-- review details -->
                <ion-row>
                  <ion-col size="12">
                    <ion-item>
                      <ion-grid class="review-details">
                        <ion-row class="align-vertical">
                          <ion-col size-lg="7" size="4">
                            <div>
                              <ion-label class="color-heading label-review"
                                >Reviews</ion-label
                              >
                            </div>
                          </ion-col>
                          <ion-col size="8" size-lg="5">
                            <div>
                              <ion-searchbar
                                cancel-button-icon="arrow-back-sharp"
                                placeholder="Search reviews"
                                showCancelButton="focus"
                                color="dark"
                              ></ion-searchbar>
                            </div>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12">
                    <app-read-reviews></app-read-reviews>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <!-- details -->
      <ion-col size-lg="3" size="0" pull-lg="0.5">
        <ion-card class="course-card">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-grid>
                  <!-- price row -->
                  <ion-row>
                    <ion-col size-xl="5" size="6">
                      <ion-label class="discount-price color-heading"
                        >&#8377; 455</ion-label
                      >
                    </ion-col>
                    <ion-col size="6" size-xl="4" pull-xl="1">
                      <ion-label class="price"><s>&#8377; 1200</s></ion-label>
                    </ion-col>
                    <ion-col size-xl="3" size="0" pull-xl="1">
                      <ion-label class="discount size-subtitle hide"
                        >96 &#37; off</ion-label
                      >
                    </ion-col>
                  </ion-row>

                  <!-- days left -->
                  <ion-row>
                    <ion-col>
                      <ion-icon name="stopwatch-outline"></ion-icon>
                      <ion-label class="font-baloo2 color-subtitle days-left"
                        ><b>[3 Days]</b> left at this price</ion-label
                      >
                    </ion-col>
                  </ion-row>

                  <!-- students enrolled -->
                  <ion-row>
                    <ion-col>
                      <ion-label
                        class="color-content size-subtitle enroll-number"
                        >[435]</ion-label
                      >
                      <ion-label
                        class="color-content size-content enroll-content"
                      >
                        Students enrolled</ion-label
                      >
                    </ion-col>
                  </ion-row>

                  <!-- star rating -->
                  <ion-row>
                    <ion-col size="12">
                      <span class="star-size checked">★</span>
                      <span class="star-size checked">★</span>
                      <span class="star-size checked">★</span>
                      <span class="star-size checked">★</span>
                      <span class="star-size">★</span>
                      <span class="star-number color-subtitle size-content">
                        (4)</span
                      >

                      <!-- <div class="star-ratings-css">
                        <div class="star-ratings-css-top" style="width: 80%;">
                          <span>★</span><span>★</span><span>★</span
                          ><span>★</span><span>★</span>
                        </div>
                        <div class="star-ratings-css">
                          <span>★</span><span>★</span><span>★</span
                          ><span>★</span><span>★</span>
                        </div>
                      </div> -->
                    </ion-col>
                  </ion-row>

                  <!-- Buy now -->
                  <ion-row>
                    <ion-col size="12">
                      <ion-button
                        expand="full"
                        size="large"
                        shape="round"
                        class="buy-button"
                      >
                        Buy Now
                      </ion-button>
                    </ion-col>
                  </ion-row>

                  <!-- course includes -->
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="color-content heading font-baloo2"
                        >This course includes</ion-label
                      >
                    </ion-col>
                    <ion-col size="12">
                      <ion-grid>
                        <ion-row>
                          <ion-col size="2">
                            <ion-icon name="videocam-outline"></ion-icon>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label
                              class="color-content font-baloo2 content"
                            >
                              [13.5 Hours] on demand classes</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-icon name="book-outline"></ion-icon>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label
                              class="color-content font-baloo2 content"
                            >
                              [39] Articles</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-icon
                              name="arrow-down-circle-outline"
                            ></ion-icon>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label
                              class="color-content font-baloo2 content"
                            >
                              [52] Downloadable resources</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-icon name="infinite-outline"></ion-icon>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label
                              class="color-content font-baloo2 content"
                            >
                              Full lifetime access</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-icon name="tv-outline"></ion-icon>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label
                              class="color-content font-baloo2 content"
                            >
                              Access on mobile and laptops</ion-label
                            >
                          </ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col size="2">
                            <ion-icon name="medal-outline"></ion-icon>
                          </ion-col>
                          <ion-col size="10">
                            <ion-label
                              class="color-content font-baloo2 content"
                            >
                              ISO Certified Certificate</ion-label
                            >
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-col>
                  </ion-row>

                  <!-- Apply coupon -->
                  <ion-row>
                    <ion-col size="12">
                      <div>
                        <ion-item lines="none" class="item-color">
                          <ion-label position="floating" class="label-coupon"
                            >Apply Coupon</ion-label
                          >
                          <ion-input class="input-coupon"></ion-input>
                        </ion-item>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
