ion-item {
  --background: transparent;
  --color: black;
}
ion-textarea {
  --background: white;
  --padding-start: 1.5rem !important;
  box-shadow: 1px 1px 5px #f23a;
}
ion-list {
  background-color: transparent;
}

.icon {
  color: #f23a;
}
.list-thumbnail {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
}

.instructor-label {
  font-weight: 600;
}
.label-heading {
  font-weight: 600;
}
.read-comment {
  font-weight: 600;
}
.comment-thumbnail {
  width: 2.5rem;
  height: 2.5rem;
}
.comment-col {
  margin-top: -1rem;
}
.comment-item {
  margin-top: 4rem;
}

@media only screen and (max-width: 500px) {
  .hide-xs {
    display: none !important;
  }
}
