.feed-item {
  --background: none;
}
.feed-label {
  padding: 1rem;
}
h2 {
  font-size: 19px !important;
  font-weight: 750 !important;
}
.feed-card {
  background-color: #eceff1;
  box-shadow: 3px 3px 12px #f23a;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
.read-more {
  font-weight: bolder;
  padding: 1rem;
}
.read-icon {
  padding-left: 0.3rem;
  vertical-align: middle;
}
.feed-thumbnail {
  border-color: transparent;
}
.card-content {
  padding-left: 2rem;
  margin-top: -0.5rem;
}
