<ion-card (click)="blogExplorer('io123')" class="feed-card">
  <ion-item class="feed-item" lines="none">
    <ion-avatar slot="start" class="feed-thumbnail">
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label class="feed-label"
      ><h2 class="color-heading size-heading">Lorem, ipsum.</h2></ion-label
    >
  </ion-item>
  <ion-card-content class="font-baloo2 color-content card-content size-content"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
    facere? Laudantium amet doloremque quod, vitae magni sed cupiditate pariatur
    labore dignissimos vero sapiente ullam excepturi voluptatibus quos dolorem
    non quisquam!<span class="read-more color-subtitle"
      >Read More<ion-icon
        name="arrow-forward-circle-outline"
        class="read-icon"
      ></ion-icon></span
  ></ion-card-content>
</ion-card>
