.blog-card{
    margin:-1rem;
    padding:2.8rem; 
    margin-top: -2rem; 
    border-radius: 3rem; 
    background-color: aliceblue; 
    color: black;
}
.blog-card-header{
    font-weight: 700;
    font-size: 1.8rem; 
    color: crimson; 
    text-align: center; 
    padding-bottom: 2rem;
}
.blog-card-content{
    font-size: medium; 
    letter-spacing: 1px; 
    line-height: 1.8rem; 
    text-align: justify;
}