<ion-header>
  <ion-toolbar class="header">
    <ion-title>blog-explorer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <img class="hide-sm" src="/assets/images/1920x600.jpg" />
      <img
        class="hide-md"
        src="https://via.placeholder.com/720x400/09f/fff.png"
      />
      <img class="hide-lg" src="/assets/images/1920x600.jpg" />
      <img class="hide-xl" src="/assets/images/1920x600.jpg" />
    </ion-col>
    <ion-card class="blog-card">
      <ion-card-header class="blog-card-header">
        Lorem, ipsum.
      </ion-card-header>
      <ion-card-content class="blog-card-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum
        consectetur ipsa sed quas placeat deleniti voluptate dolorum sunt soluta
        labore, inventore doloremque blanditiis officia et dolor doloribus
        expedita delectus maiores tempore autem eligendi, ullam aut. Aperiam
        dignissimos aut vel laborum sunt possimus excepturi earum animi eaque
        suscipit labore repellat magnam, nobis tempore dolor iure accusantium
        cupiditate tenetur quas obcaecati? Placeat ab vel expedita suscipit
        nihil, atque quaerat facere explicabo maiores praesentium, commodi quod
        quo recusandae unde minus tempora optio natus!
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>
